GC_logo_GC_Logo_Horizontal_Color.png filter=lfs diff=lfs merge=lfs -text
GC_logo_GC_Logo_Vertical_Color-Photoroom.png filter=lfs diff=lfs merge=lfs -text
GC_logo_GC_Logo_Vertical_Color.png filter=lfs diff=lfs merge=lfs -text
HomePage_Banner_Desktop.png filter=lfs diff=lfs merge=lfs -text
client/public/GC_logo_GC_Logo_Horizontal_Color.png filter=lfs diff=lfs merge=lfs -text
client/public/GC_logo_GC_Logo_Vertical_Color-Photoroom.png filter=lfs diff=lfs merge=lfs -text
client/public/HomePage_Banner_Desktop.png filter=lfs diff=lfs merge=lfs -text
